@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GameStats</h1>
    <p class="lead">>GameStats is a web platform that allows you to keep track on company sports activities, create events, store the results and find who is the best player!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add new games</h2>
        <p>
            GameStats allows you to add new games that you and your colleagues want and will play! You can choose the category, describe the game rules
            and other specific things around the game!
        </p>
       <!-- <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Add a new event</h2>
        <p>You can easily add new game events, just with a few clicks!</p>
        <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>See who is the best!</h2>
        <p>You can easily find a event results, best players, most played game and much more!</p>
        <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>-->
    </div>
</div>